<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>


    <!-- CSS links -->
    <link rel="stylesheet" href="css/styles.css">

    <!-- icon link -->

</head>

<body>

    <!-- navigation bar    -->
    <%- include('./header-navbar'); %>




        <h1 class="about-us">About us</h1>

        <div class="about-us-content">





            <h3>
                About Ardent eBooks
            </h3>

            <p>
                We sell ebooks direct to consumers via Ardent eBooks.com. We provide a range of ebook-specific technical
                services
                to book publishers
                About Us
                Launched in 2000, ArdenteBooks.com is a popular ebook retailer with a reputation for innovation,
                integrity and
                independence. We sell ebooks direct to millions of consumers around the world, with five local sales
                portals
                in the US, Canada, UK, Europe and Australia.

                You can read our ebooks online, or download them to a vast array of devices, using our Ebook Reader
                apps.ArdenteBooks.com is privately held and run by its founders, life-long booksellers Stephen and Trudy
                Cole. It
                is
                the only independent ebook retailer that sells into every country in the world, including Antarctica and
                the
                International Space Station.

                We have our own publisher licenses, delivery platforms, reader apps and repository of titles. Ebook
                Reader,
                our mobile app, is one of the most popular apps in the ebook market, with millions of installs.

                Ardent eBooks.com hosts millions of unique ebook titles and has millions of members.

                In addition to our popular ebook-store, we provide services to book publishers. Digital Comps is a
                system
                that enables publishers to send secure ebooks to reviewers and instructors, called “complimentary
                copies”.
                Ebook Engine is a system that enables publishers to sell ebooks direct to consumers from their own
                website.
                And publishers use our Ebook Collections platform to sell collections of their ebooks direct to
                institutions.


            </p>
            <h3>
                Mission

            </h3>






            <p> To use the power of emerging technology to make books more accessible and cheaper for everyone, so that
                one
                day everyone in the world will have ready access to the world of books.
            </p>


            <h3>Vision</h3>
            <p> To make Ardent eBooks.com the simplest, most beautiful access point for all the world’s books.</p>


            <h3>

                Proprietary DRM
            </h3>


            <p> We have our own DRM system that has secured the content delivered via our Ebook Reader apps since 2007.
                It
                is not based on Adobe ACS. Having our own DRM system improves usability for our customers, and enables
                us to
                respond quickly to new requirements and trends.</p>


            <h3>
                Online (Browser-Based) Reader App
            </h3>
            <p>
                Our proprietary web-based reader enables desktop users to immediately start reading, without having to
                download or install software. Currently undergoing an upgrade to make it suitable for mobile platforms.
                Suitable for retail and library use.
            </p>


            <h3>
                Email Newsletter Program
            </h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo iusto corrupti hic est suscipit. Animi
                reprehenderit reiciendis deserunt nulla quia minima ea inventore delectus in eos vero fugit quasi aut
                quidem tempora, iusto odio possimus.
            </p>

            <h3>

                A Collection of Unique, High Quality Titles
            </h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam velit aut temporibus distinctio omnis
                rerum, architecto deleniti minus? Quas illum, error soluta vel ipsa omnis animi dolore labore saepe
                eligendi veritatis molestiae modi dolorem unde placeat expedita sequi dolor eius excepturi! Earum
                consectetur reiciendis tempore enim, doloribus suscipit quae! Facere voluptas error mollitia nam quidem.
            </p>

            <h3>
                Publishers’ Management Portal

            </h3>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea repudiandae id sapiente rem dolore ex
                provident unde adipisci placeat praesentium autem dignissimos pariatur eveniet molestias vel, atque
                veritatis porro voluptate quasi vitae non expedita odit magni ab. Ducimus enim ad qui magnam nesciunt
                autem delectus nobis atque! Eligendi, laborum doloremque?

            </p>

            <h3>
                Ebook Processing Platform

            </h3>

            <p>
                Publishers upload 20,000 ebooks to us every month. Our production unit has been enhanced and modified
                steadily since March 2000, and has evolved along with the industry. It deals elegantly with all the
                complexities thrown up by an evolving sector, including faulty files and metadata supplied by
                publishers. It
                manages territorial copyright requirements across 195 countries and local sales tax across thousands of
                jurisdictions.

            </p>
            <h3>
                The Team

            </h3>


            <p>
                Deep, broad, detailed domain expertise. The company comprises a small team of long-time ebook
                specialists.
                Our newest developer was engaged in 2010. Some of our guys started in 2001. It’s fair to say that our
                team
                knows pretty much everything about processing, managing and securely delivering ebooks to a global
                audience.

            </p>

        </div>


        <%- include("./footer"); %>


</body>

</html>