<footer class="copyright">
    <div class="grid">
        <div class="row" id="element1">
            <div class="col-lg-6">
                <h5>Ardent eBooks</h5>
                <p>We are most loved eBook website on the internet!!</p>
            </div>
            <div class="col-lg-3" id="element2">
                <h6>Helpful Links</h6>
                <ul>
                    <a href="privacy-policy">
                        <li>Privacy Policy</li>
                    </a>
                    <a href="refund">
                        <li>Refund Policy</li>
                    </a>
                    <a href="terms-conditions">
                        <li>Terms and conditions</li>
                    </a>
                    <a href="about">
                    <li>About us</li>
                </a>
                </ul>
            </div>
            <div class="col-lg-3">
               <h6>Get in touch</h6>
               <a href="mailto:ardentebook@gmail.com">  <p id="email-link">hello@ardentebook.in</p></a>
            </div>

        </div>
    </div>






    <div>
        <i class="fa-brands fa-facebook-f fa-2xl  copyright-icon"></i>
        <i class="fa-brands fa-linkedin fa-2xl copyright-icon"></i>
        <i class="fa-brands fa-twitter fa-2xl copyright-icon"></i>
        <i class="fa-brands fa-instagram fa-2xl copyright-icon"></i>
    </div>
    <div id="copyright-text">Created by Shrey Mishra | All rights reserved!</div>
</footer>