<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ardent</title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- CSS links -->
    <link rel="stylesheet" href="css/styles.css">
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/ed7230efcb.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>

<body>
    <%- include("header-navbar"); %>
        <div class="card text-center"
            style="margin:auto; width: 40vw; height: 80vh; margin-bottom: 10vh; font-size: x-large;">
            <div class="card-header text-white bg-dark">Password Reset</div>
            <div class="card-body px-5">
                <% if(isWrongCredentials){ %>
                    <div class="alert alert-danger" style="font-size:large">Wrong Credentials entered</div>
                    <%}%>
                        <% if(isPasswordUpdated){ %>
                            <div class="alert alert-success" style="font-size:large">New password has successfully
                                updated and sent to your email!!<a href="login">Click here to login</a></div>
                            <%} %>
                                <p class="card-text py-2">
                                    Enter your email address and we'll send you an email with instructions to reset your
                                    password.
                                </p>
                                <form action="/forget-password" method="post">
                                    <div class="form-outline">
                                        <label class="form-label" for="typeEmail">Email input :</label>
                                        <input type="email" id="typeEmail" class="form-control my-3" name="email" />
                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="accounttype">Choose account type:</label>
                                            <select name="accountType" class="form-control">
                                                <option value="user">User/Customer</option>
                                                <option value="admin">Admin</option>
                                                <option value="seller">Seller</option>
                                            </select>
                                        </div>
                                    </div>
                                    <button class="btn btn-outline-dark w-100" type="submit"> Reset Password</button>
                                </form>
                                <div class="d-flex justify-content-between mt-4 ">
                                    <a class="text-dark forget-password-btn" href="login">Login</a>
                                    <a class="text-dark forget-password-btn" href="signup">Register</a>
                                </div>
            </div>
        </div>
        <%- include("./footer"); %>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
</body>
</html>