<div class="navigation-bar">
    <a href="index">
        <h3 >Ardent eBook</h3>
    </a>
    <div class="links">
        <a href="about">
            <h6>About</h6>
        </a>
        <a href="book">
            <h6>Books</h6>
        </a>
        <a href="reviews">
            <h6>Reviews</h6>
        </a>
        <a href="contact">
            <h6>Contact</h6>
        </a>
    </div>
    <div class="registeration">
        <a  href="signup"><button class="button-dark">SignUp</button></a>
        <a href="login"><button class="button-light">Login</button></a>
    </div>
</div>