<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ardent</title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">



    <!-- CSS links -->
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/48f9ae67d0.js" crossorigin="anonymous"></script>



    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/ed7230efcb.js" crossorigin="anonymous"></script>


    <link rel="shortcut icon" href="../public/icon.png" type="image/png">


</head>
<body>
<%- include("./header-navbar");%>
<div class="refund-text">
<h1> REFUND & CANCELLATION POLICY </h1>
<h5>There is a strict no refund & no cancellation policy. You are entitled to a refund only in the case where you have not been delivered the eBook after payment.</h5>
</div>
<%- include("./footer");%>
</body>
</html>