<div class="navigation-bar pt-serif-regular">
    <a href="index">
        <h3 >Ardent eBook</h3>
    </a>
    <div class="links">
        <a routerLink="aboutUs">
            <h6>About</h6>
        </a>
        <a routerLink="books">
            <h6>Books</h6>
        </a>
        <a routerLink="seller">
            <h6>Seller</h6>
        </a>
        <a routerLink="reviews">
            <h6>Reviews</h6>
        </a>
        <a routerLink="contact">
            <h6>Contact</h6>
        </a>
         <a routerLink="admin">
            <h6>Admin</h6>
        </a>
    </div>
    <div class="registeration">
        <a  href="signup"><button class="btn btn-dark mx-3">SignUp</button></a>
        <a href="login"><button class="btn btn-outline-dark">Login</button></a>
    </div>
</div>