.footer{
    
    background-color: rgb(235, 233, 233);
}

.merienda-font {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
    font-size: 45px;
}

.pt-serif-regular {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

a{
    text-decoration: none;
    color: black;


    
}

a li {
    transition: transform 0.1s ease;
}

a li:hover {
    transform: scale(1.1);
}
i{
     transition: transform 0.1s ease;
}
i:hover{
    transform: scale(1.1);
}
ul{
    text-decoration: none;
   list-style-type: none;
   padding-left: 0;
}
