<footer class="footer container-fluid text-center p-5 pt-serif-regular">
    
    <div class="container ">
        <div class="row" >
            <div class="col-4 text-center ">
                <h5 class="merienda-font">Ardent eBooks</h5>
                <p >We are most loved eBook website on the internet!!</p>
            </div>
            <div class="col-4">
                <h6 class="fs-3 mb-3">Helpful Links</h6>
                <ul >
                    <a href="privacy-policy">
                        <li  >Privacy Policy</li>
                    </a>
                    <a href="refund">
                        <li  class="my-2">Refund Policy</li>
                    </a>
                    <a href="terms-conditions">
                        <li class="my-2">Terms and conditions</li>
                    </a>
                    <a href="about">
                    <li  class="my-2">About us</li>
                </a>
                </ul>
            </div>
            <div class="col-4">
               <h6 class="fs-3">Get in touch</h6>
               <a class="fs-5" href="mailto:ardentebook@gmail.com">  <p >hello@ardentebook.in</p></a>
            </div>

        </div>
    </div>






    <div class="mt-5 mb-3">
        <i class="fa-brands fa-facebook-f fa-2xl  copyright-icon mx-2"></i>
        <i class="fa-brands fa-linkedin fa-2xl copyright-icon mx-2"></i>
        <i class="fa-brands fa-twitter fa-2xl copyright-icon mx-2"></i>
        <i class="fa-brands fa-instagram fa-2xl copyright-icon mx-2"></i>
    </div>
    <div class="fs-3">Created by Shrey Mishra &copy; 2026</div>
</footer>